.navbar-brand {
  font-weight: 400;
  font-size: 30px;
}

.alert-warning {
  margin-top: 80px;
  padding-bottom: 0;
  position: absolute;
  background-color: mistyrose;
  border: none;
  color: #666;
}

.flash {
  padding-top: 5px;
}

form {
  margin-top: 200px;
}

.tables {
  margin-top: 60px;
}

.sort-btn {
  cursor: pointer;
}